/* @font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/SourceSansPro-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/SourceSansPro-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/SourceSansPro-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-bold: 600 18px/12px 'Source Sans Pro', sans-serif;
    --text-small-bold: 600 14px/18px 'Source Sans Pro', sans-serif;
    --text-default: 400 16px/20px 'Source Sans Pro', sans-serif;
    --text-small-default: 400 14px/18px #484545 'Source Sans Pro', sans-serif;

    --black-bg: #fff;
    --grey-bg: #fafafa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    outline: 0;
    will-change: font;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
}

input[type="button"] {
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
}

select {
    outline: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: calc(100vh - 182px);
    background: var(--black-bg);
}

.wrapper {
    width: 100%;
    max-width: 636px;
    display: flex;
    flex-direction: column;
    margin: 182px auto 0;
    padding: 0 23px 0 22px;
} */

/* .top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.top_container.show {
    flex-wrap: wrap;
    background: #fafafa;
    padding: 17px 20px;
}

.top_container h1{
    font: var(--text-bold);
}

.top_container.show h1{
    display: none;
}

.top_container .switchBack {
    display: none;
    align-items: center;
    font: var(--text-bold);
    padding-left: 11px;
}

.top_container.show .switchBack {
    display: flex;
    cursor: pointer;
}

.top_container .switchBack::before {
    content: url(./assets/icons/arrowLeft.svg);
    position: relative;
    right: 10px;
}

.top_container .result {
    font: var(--text-small-bold);
    color: #035B77;
    cursor: pointer;
}

.top_container .result span {
   padding: 0 3px;
}

.top_container form {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 17px 0 0;
}

.top_container form input {
    width: 100%;
    height: 40px;
    padding-right: 85px;
    background: #fff;
    font: var(--text-default);
    -webkit-appearance: none;
    border: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px 10px 14px 10px;
}

.select-wrapper {
    margin-bottom: 18.85px;
}

.select-wrapper.show {
    overflow: hidden;
    height: 371px;
    margin-bottom: 48px;
}

.select-wrapper .select-cont {
    overflow: hidden;
}

.select-wrapper.show .select-cont {
    height: 100%;
}

.select-wrapper .select-cont .select-head {
    height: 36px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-left: 3px solid blue;
}

.select-wrapper.show .select-cont .select-head {
    overflow-y: scroll;
    border: inherit;
    height: 100%;
}

.select-wrapper .select-cont .select-head option {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 590px;
    background: inherit;
    position: relative;
}

.select-wrapper.show .select-cont .select-head option {
    font: var(--text-small-default);
    text-align: left;
    white-space: pre-wrap;
    padding: 6px 41px 6px 78px;
}


.select-wrapper .select-cont .select-head option[selected] {
    background: linear-gradient(0deg, rgba(3, 91, 119, 0.05), rgba(3, 91, 119, 0.05)), #fff;
} 

.select-wrapper.show .select-cont .select-head option:before {
    content: url(./assets/icons/unChecked.svg);
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 8px;
}

.select-wrapper.show .select-cont .select-head option[selected]::before {
    content: url(./assets/icons/checked.svg);
}

.select-wrapper .select-cont .select-head option[data-level="2"] {
    padding-left: 93px;
}

/* .select-wrapper .select-cont .select-head option[data-level="2"]::before {
    content: '';
    border-left: 1px dashed #D9D9D9;
    height: 319px;
    width: 4px;
    left: 30px;
    top: 10px;
    position: absolute;
    точки вниз
}

.select-wrapper .select-cont .select-head option[data-level="3"] {
    padding-left: 108px;
}

.select-wrapper .select-cont .select-head option[data-level="4"] {
    padding-left: 123px;
}

.select-wrapper .select-cont .select-head option[data-level="5"] {
    padding-left: 138px;
}

.select-wrapper .select-cont .select-head option[data-level="6"] {
    padding-left: 153px;
}

.bottom_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border-top: #fafafa 1px solid;
    box-shadow: 0px -1px 0px #d9d9d9;
    padding: 0;
    height: 0;
    overflow: hidden;
}

.bottom_container.show {
    height: 60px;
    padding: 10px 20px;
}

.bottom_container .applyBtn {
    background: #035B77;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 20px;
    text-transform: uppercase;
}

.bottom_container .resetBtn {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.6;
} */