// Component Styles
.item_container .top_container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item_container.show .top_container {
    flex-wrap: wrap;
    background: #fafafa;
    padding: 17px 20px;
}

.item_container .top_container  h1 {
    font: var(--text-bold);
}

.item_container.show  .top_container h1 {
    display: none;
}

.item_container .top_container .switchBack {
    display: none;
    align-items: center;
    font: var(--text-bold);
    padding-left: 11px;
}

.item_container.show .top_container .switchBack {
    display: flex;
    cursor: pointer;
}

.item_container .top_container .switchBack::before {
    content: url(./assets/icons/arrowLeft.svg);
    position: relative;
    right: 10px;
}

.item_container .top_container  .result {
    font: var(--text-small-bold);
    color: #035B77;
    cursor: pointer;
}

// .item_container .top_container .show .result {
//     display: none;
// }

.item_container .top_container  .result span {
   padding: 0 3px;
}

.item_container .top_container  form {
    width: 100%;
    display: none;
    align-items: center;
    position: relative;
    margin: 17px 0 0;
}

.item_container.show .top_container form {
    display: flex;
}

.item_container .top_container form input {
    width: 100%;
    height: 40px;
    padding-right: 85px;
    background: #fff;
    font: var(--text-default);
    -webkit-appearance: none;
    border: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px 10px 14px 10px;
}

.item_container .select-wrapper  {
    margin-bottom: 18.85px;
}

.item_container.show  .select-wrapper {
    overflow: hidden;
    height: 371px;
    margin-bottom: 48px;
}

.item_container .select-wrapper  .select-cont {
    overflow: hidden;
    position: relative;
}

.item_container.show  .select-wrapper .select-cont {
    height: 100%;
}

.item_container .select-wrapper  .select-cont .changed-selected-option-text {
    display: flex;
    position: absolute;
    width: 585px;
    top: 1px;
    left: 4px;
    z-index: 99;
    background: #fff;
    padding: 5px 0px 5px 7px;
    cursor: pointer;
    height: 34px;
}

.item_container .select-wrapper  .select-cont .changed-selected-option-text span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_container.show .select-wrapper .select-cont .changed-selected-option-text {
    display: none;
}

.item_container .select-wrapper  .select-cont .select-head {
    height: 36px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-left: 3px solid blue;
}

.item_container.show  .select-wrapper.select-cont .select-head::before {
    position: absolute;
    top: 1px;
    left: 16px;
    z-index: 99;
    background: #fff;
    padding: 5px 0px 5px 0px;
}

.item_container.show .select-wrapper .select-cont .select-head {
    overflow-y: scroll;
    border: inherit !important;
    height: 100%;
}

.item_container .select-wrapper  .select-cont .select-head option {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 590px;
    background: inherit;
    position: relative;
}

.item_container.show .select-wrapper .select-cont .select-head option {
    font: var(--text-small-default);
    text-align: left;
    white-space: pre-wrap;
    padding: 6px 41px 6px 78px;
}


.item_container .select-wrapper  .select-cont .select-head option[selected] {
    background: linear-gradient(0deg, rgba(3, 91, 119, 0.05), rgba(3, 91, 119, 0.05)), #fff;
} 

.item_container.show .select-wrapper .select-cont .select-head option:before {
    content: url(./assets/icons/unChecked.svg);
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 8px;
}

.item_container.show  .select-wrapper .select-cont .select-head option[selected]::before {
    content: url(./assets/icons/checked.svg);
}

.item_container .select-wrapper  .select-cont .select-head option[data-level="2"] {
    padding-left: 93px;
}

/* .item_container .select-wrapper  .select-cont .select-head option[data-level="2"]::before {
    content: '';
    border-left: 1px dashed #D9D9D9;
    height: 319px;
    width: 4px;
    left: 30px;
    top: 10px;
    position: absolute;
    точки вниз
} */

.item_container .select-wrapper  .select-cont .select-head option[data-level="3"] {
    padding-left: 108px;
}

.item_container .select-wrapper  .select-cont .select-head option[data-level="4"] {
    padding-left: 123px;
}

.item_container .select-wrapper  .select-cont .select-head option[data-level="5"] {
    padding-left: 138px;
}

.item_container .select-wrapper  .select-cont .select-head option[data-level="6"] {
    padding-left: 153px;
}

.item_container .bottom_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border-top: #fafafa 1px solid;
    box-shadow: 0px -1px 0px #d9d9d9;
    padding: 0;
    height: 0;
    overflow: hidden;
}

.item_container.show  .bottom_container {
    height: 60px;
    padding: 10px 20px;
}

.item_container .bottom_container .applyBtn {
    background: #035B77;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 20px;
    text-transform: uppercase;
}

.item_container .bottom_container .resetBtn {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.6;
}